* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2ebdbd;
    margin: 0;
    padding: 0;
}



/* Section Styles */
section {
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

#home {
    background-color: #f0f0f0;
}

#about {
    background-color: #e0e0e0;
}

#services a {
    text-decoration: none;
    color: #0066c0;
    display: block;
    margin: 20px auto;
    text-align: center;
}

#services img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#services p {
    color: #666;
    text-align: center;
}


#contact {
    background-color: #e0e0e0;
}

#gallery {
    background-color: #f9f9f9;
    padding: 30px;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 20px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#game-selection {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#game-selection h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}