<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/header.css">
        <script src="/static/js/home.js"></script>
        <title>ゲームマッチングサイト</title>
    </head>
    <body>

        <header>
            <h1>ゲームマッチングサイト</h1>
            <nav>
                <ul>
                    <li><a href="#home">ホーム</a></li>
                    <li><a href="#about">チャット</a></li>
                    <li><a href="#services">デバイス</a></li>
                    <li><a href="#contact">お問い合わせ</a></li>
                    <li><a href="#gallery">ギャラリー</a></li>
                    <button class="logout-btn" id = "logOut" onClick = "logoutButtonClicked()">ログアウト</button>
                </ul>
            </nav>
        </header>